/*^ IMPORT GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@300;400;500;600;700;800;900&family=Shadows+Into+Light&family=Ubuntu:wght@300;500&display=swap");

/*^ ROOT VARIABLES */
:root {
  --black: #0d0d0d;
  --red: #d72638;
  --gray: #2e2e2e;
  --gold: #f9a825;
  --white: #f5f5f5;
  --blue: #00b4d8;
  --green: #66a182;
  --main-font: "Montserrat", sans-serif;
  --brand-font: "Caprasimo", cursive;
}

body {
  background-color: var(--black);
  color: var(--white);
}

button {
  background-color: var(--red);
  color: var(--white);
}

button:hover {
  background-color: var(--gold);
}

/*^ LAYOUT */

/*^ TYPOGRAPHY */
html {
  font-size: 62.5%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  cursor: default;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.9rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.2;
  letter-spacing: 0.2px;
  cursor: default;
}




/* Base (mobile-first styles for small screens) */
h2 {
  font-size: 1.8rem; /* default size for mobile */
}

h3 {
  font-size: 2rem; /* default size for mobile */
}

p {
  font-size: 1.2rem; /* default size for mobile */
}

.test {
  color: blue; /* default color */
}

/* Medium (min-width: 768px) */
@media (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-weight: 400;
  }

  .test {
    color: green;
  }
}

/* Large (min-width: 992px) */
@media (min-width: 992px) {
  .test {
    color: orange;
  }
}

/* Extra Large (min-width: 1200px) */
@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.4rem;
  }

  .test {
    color: yellow;
  }
}




