/*^ ROOT VARIABLES */
:root {
  --black: #0d0d0d;
  --red: #d72638;
  --gray: #2e2e2e;
  --gold: #f9a825;
  --white: #f5f5f5;
  --blue: #00b4d8;
  --green: #66a182;
  --main-font: "Roboto Flex", sans-serif;
  --brand-font: "Henny Penny", system-ui;
}

body {
  background-color: var(--black);
  color: var(--white);
}


/*^ LAYOUT */

/*^ TYPOGRAPHY */
/*^ IMPORT GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

.brand-font {
  font-family: "Henny Penny", system-ui;
}

.main-font {
  font-family: "Roboto Flex", sans-serif;
}

html {
  font-size: 62.5%;
}

/*^ Base (mobile-first styles for small screens) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--brand-font);
  cursor: default;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.2;
  letter-spacing: 0.2px;
  cursor: default;
  font-family: var(--main-font);
}


/* Medium (min-width: 768px) */
@media (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3rem;
  }
}

/* Large (min-width: 992px) */
@media (min-width: 992px) {
  .test {
    color: orange;
  }
}

/* Extra Large (min-width: 1200px) */
@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 2.4rem;
  }
}
